<!DOCTYPE html>
<html>
<title>IMCDP</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"/>

<style>

    textarea {
        width: 88%;
        height: 200px;
        padding: 10px;
        border: 0.5rem;
        outline: none;
        font-size: medium;
        resize: none;
        line-height: 1.5rem;

    }</style>
<script>
    // Menüleiste
    function w3_open() {
        var x = document.getElementById("Menü");
        x.style.width = "20%";
        x.style.fontSize = "20px";
        x.style.paddingTop = "10%";
        x.style.display = "block";
    }
    function w3_close() {
        document.getElementById("Menü").style.display = "none";
    }

</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Monat', 'GB Traffic'],
            ['Vorvormonat',  0],
            ['Vormonat',  10],
            ['Dieser',  50],

        ]);

        var options = {
            title: 'Gescannter Traffic der vergangenen Monate',
            curveType: 'function',
            legend: { position: 'bottom' },
            width:800,
            height:500,
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Jahr", "GB", { role: "style" } ],
            ["2019", 0, "#b87333"],
            ["2020", 10, "silver"],
            ["2021", 100, "gold"],
            ["2022", 0, "color: #e5e4e2"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            { calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation" },
            2]);

        var options = {
            title: "Gescannter Traffic der vergangenen Jahre",
            width: 800,
            height: 500,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
</script>

<nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="Menü">
    <h1 class="w3-xxxMedium w3-text-theme">Menü</h1>
    <a href="#" class="w3-bar-item w3-button" onclick="location.href='./welcome';">Home</a>
    <a href="#" class="w3-bar-item w3-button" onclick="location.href='./wissenswertes';">Wissenswertes</a>
    <a href="#" class="w3-bar-item w3-button" method="get" onclick="location.href='./sicherheitsscan';" >Sicherheitsscan</a>
    <button class="w3-bar-item w3-button" onclick="w3_close()">Schließen <i class="fa fa-remove"></i></button>

</nav>

<head>
    <div class="w3-container w3-theme w3-padding-48">
        <div class="w3-bar">
            <a href="#" class="w3-bar-item w3-button w3-display-topright w3-blue w3-padding-small w3-left w3-left-align w3-border w3-border-white"
               style="width:12%" onclick="location.href='./registrierung';">Registrierung</a>
            <a href="#" class="w3-bar-item w3-button w3-display-topright w3-blue w3-padding-small w3-right w3-left-align w3-border w3-border-white"
               style="width:5%" onclick="location.href='./login';">LogIn</a>
        </div>
        <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
        <h2 class="w3-center">Willkommen auf der Ikum Monitoring and Cyber Defense Platform</h2>
    </div>
</head>


<body>
    <div class="w3-container w3-padding w3-cell" style="width: 50%; font-size: medium">
        <p>
            Die Ikum Monitoring and Cyber Defense Platform, kurz IMCDP, gibt Euch die Möglichkeit Euern
            Traffic auf Sicherheitsprobleme untersuchen zu lassen. [TODO] Mehr Informationen
        </p>
    </div>

    <div class="w3-container w3-padding w3-cell" style="width: 50%; font-size: medium">
        <p style="text-align: center">
            [TODO] eventuell Schaubild zur Verdeutlichung einfügen
        </p>
    </div>

    <div class="w3-container w3-padding w3-text-white" style="background-color: deepskyblue; font-size: medium">
        <h3>Und so funktionierts:</h3>
    </div>

    <div class="w3-container w3-padding" style="font-size: medium">
        <p style="font-size: medium;">
            [TODO] Hier folgen ein paar einleitende Sätze und dann Stichpunkte
        </p>
        <p style="font-size: medium; margin-left: 50px">
            - Verbindung über das Ikum-VPN einrichten
        </p>
        <p style="font-size: medium; margin-left: 50px">
            - Loggt Euch hier für den Sicherheitsscan ein: [TODO] Hier kommt ein Link hin
        </p>
    </div>

    <div class="w3-container w3-padding w3-text-white" style="background-color: deepskyblue; font-size: medium">
        <h3>Unsere Benutzungsstatistik:</h3>
    </div>

    <div class="w3-container w3-padding" style="font-size: medium">
        <p style="font-size: medium;">
            Heute haben bereits [TODO] 10 Benutzer ihren Traffic bei uns auf Sicherheitsprobleme scannen lassen.
        </p>
    </div>

    <table class="columns">
        <tr>
            <td><div id="curve_chart" style="border: 1px solid #ccc"></div></td>
            <td><div id="columnchart_values" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>

    <div class="w3-container w3-padding" style="font-size: medium">
        [TODO] Die hart vercodeten Werte der Tabellen durch dynamisch geholte Werte aus der Datenbank ersetzen
    </div>

</body>

<style>
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
</style>

<div class="footer">
    <p>
        <a href="#" class="w3-bar-item w3-button" onclick="location.href='./impressum';">Impressum</a>
    </p>
</div>
</html>